@import "tailwindcss";

@theme {
  --color-bg: #0c0c0f;
  --color-bg2: #13131a;
  --color-bg3: #1a1a24;
  --color-bg4: #22222e;
  --color-primary: #3ecf8e;
  --color-primary-dim: #1a3d2e;
  --color-blue: #2c46d8;
  --color-green-dim: #1a3d2e;
  --color-amber: #e8a233;
  --color-aqua: #4a9edd;
  --color-purple: #9d5fe8;
  --color-red: #e25555;
  --color-text: #f0f0f5;
  --color-text2: #888898;
  --color-text3: #55555f;
  --color-border: rgba(255, 255, 255, 0.06);
  --color-border2: rgba(255, 255, 255, 0.10);
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
  }
}